/StardewValleyBonneVersion/nbproject/private/
/StardewValleyBonneVersion/build/
/StardewValleyBonneVersion/dist/
StardewValleyBonneVersion/build/classes/stardewvalley/Metier/Objet/ObjetsPlace/ObjetsNaturel/HerbeSauvage.class
